/*
 * Add your css files in this folder
 * 
 * More infos:
 * - You need to run `npm run css` to refresh your CSS settings
 * - Parcelify supports a watch mode - try `parcelify -w ./ build/bundle.css`
 * - You can change your folder with the `style` property in your package.json
 * - You can also use CSS preprocessors like SASS or LESS
 *
 * @see: https://github.com/rotundasoftware/parcelify
 */
body div:first-child{
    background-color: grey;
}
body div:first-child:after{
    content: "You can modify the style in the css folder";
     white-space:pre; 
     background-color: #fff;
     display: block;
}
