@prefix : <https://example.org/variants#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
<https://example.org/grandchild> a owl:Ontology .
:Leaf a owl:Class ; rdfs:subClassOf :Middle ; rdfs:label "Grandchild label" .
