# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# development
*.bak

# production
/build

# misc
.yarn
.DS_Store
.env.local
.env.docker.local
.env.sandbox.local
.env.prod.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


node



dist/index.html
dist/bundle.js
dist/styles.css

