process.executor = 'slurm'
process.container = 'ghcr.io/ebispot/ols_embeddings:dev'
singularity.enabled = true
singularity.autoMounts = true

params.hf_cache = '/nfs/production/parkinso/spot/ols_embeddings/hf_cache'

env.HF_HOME            = "${params.hf_cache}"
env.HF_HUB_CACHE       = "${params.hf_cache}/hub"
env.TRANSFORMERS_CACHE = "${params.hf_cache}/transformers"
env.HF_HUB_DISABLE_TELEMETRY = '1'
env.OPENAI_API_KEY = "$OPENAI_API_KEY"

singularity.runOptions = "--nv -B ${params.hf_cache}:${params.hf_cache} -B /nfs/production/parkinso/spot/ols_embeddings/ols_embed/embed2.py:/opt/ols_embed/embed2.py -B /nfs/production/parkinso/spot/ols_embeddings/ols_embed/embed_openai.py:/opt/ols_embed/embed_openai.py -B /nfs/production/parkinso/spot/ols_embeddings/ols_embed/pca.py:/opt/ols_embed/pca.py"

