process.container = System.getenv('OLS4_DATALOAD_IMAGE')
docker.enabled = true
// Ensure tasks run with the host UID:GID to avoid permission issues in mounted work dirs
docker.runOptions = "-u ${System.getenv('HOST_UID')}:${System.getenv('HOST_GID')} -v ${System.getenv('OLS_HOME')}:${System.getenv('OLS_HOME')} -v ${System.getenv('OLS_EMBEDDINGS_PATH')}:${System.getenv('OLS_EMBEDDINGS_PATH')} -e OPENAI_API_KEY"

params.embed_image = System.getenv('OLS4_EMBED_IMAGE') ?: ''

params.solr_mem = "4g"
params.neo_mem = "4g"
params.enable_embeddings = false

process {
    withName: rdf2json {
        memory = 5.GB
    }
}

process {
    withName: linker__create_manifest {
        memory = 5.GB
        cpus = 1
    }
}

process {
    withName: linker__link_ontologies {
        memory = 5.GB
    }
}

process {
    withName: json2neo {
        memory = 5.GB
    }
}

process {
    withName: json2solr {
        memory = 5.GB
    }
}

process {
    withName: create_neo {
        memory = 5.GB
        cpus = 1
    }
}

process {
    withName: create_solr {
        memory = 5.GB
        cpus = 1
    }
}

process {
    withName: ols_to_tsv {
        memory = 5.GB
        cpus = 1
    }
}

process {
    withName: build_text_tagger_db {
        memory = 5.GB
        cpus = 1
    }
}
