process.container = 'olslocal:latest'
docker.enabled = true

params.solr_mem = "4g"
params.neo_mem = "4g"

process {
    withName: rdf2json {
        memory = 8.GB
    }
}

process {
    withName: linker__create_manifest {
        memory = 8.GB
    }
}

process {
    withName: linker__link_ontologies {
        memory = 8.GB
    }
}

process {
    withName: json2neo {
        memory = 8.GB
    }
}

process {
    withName: json2solr {
        memory = 8.GB
    }
}

process {
    withName: create_neo {
        memory = 8.GB
    }
}

process {
    withName: create_solr {
        memory = 8.GB
    }
}
