@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-primary {
    @apply text-white px-4 py-2 mb-2 mr-2 h-fit rounded-md bg-link-default border-4 border-link-default shadow-button transition-all ease-linear
    enabled:hover:shadow-button-hover
    enabled:hover:translate-x-1
    enabled:hover:translate-y-1
    enabled:active:shadow-button-active
    enabled:active:translate-x-2
    enabled:active:translate-y-2
    disabled:shadow
    disabled:shadow-button-disabled
    disabled:transition-none
    disabled:cursor-not-allowed
    disabled:bg-neutral-default
    disabled:border-neutral-default;
  }
  .button-primary-active {
    @apply text-white px-4 py-2 mb-2 mr-2 h-fit rounded-md bg-link-default border-4 border-link-default transition-all ease-linear
    shadow-button-active
    translate-x-2
    translate-y-2
    hover:shadow-button-active
    hover:translate-x-2
    hover:translate-y-2;
  }
  .button-secondary {
    @apply text-link-default px-4 py-2 mb-2 mr-2 h-fit rounded-md bg-white border-4 border-link-default shadow-button transition-all ease-linear
    enabled:hover:shadow-button-hover
    enabled:hover:translate-x-1
    enabled:hover:translate-y-1
    enabled:active:shadow-button-active
    enabled:active:translate-x-2
    enabled:active:translate-y-2
    disabled:shadow
    disabled:shadow-button-disabled
    disabled:transition-none
    disabled:cursor-not-allowed
    disabled:bg-neutral-default
    disabled:border-neutral-default;
  }
  .button-secondary-active {
    @apply text-link-default px-4 py-2 mb-2 mr-2 h-fit rounded-md bg-white border-4 border-link-default transition-all ease-linear
    shadow-button-active
    translate-x-2
    translate-y-2
    hover:shadow-button-active
    hover:translate-x-2
    hover:translate-y-2;
  }
  .button-tertiary {
    @apply text-white px-4 py-2 mb-2 mr-2 h-fit rounded-md bg-orange-default border-4 border-orange-default shadow-button-orange transition-all ease-linear
    enabled:hover:shadow-button-orange-hover
    enabled:hover:translate-x-1
    enabled:hover:translate-y-1
    enabled:active:shadow-button-orange-active
    enabled:active:translate-x-2
    enabled:active:translate-y-2
    disabled:shadow
    disabled:shadow-button-disabled
    disabled:transition-none
    disabled:cursor-not-allowed
    disabled:bg-neutral-default
    disabled:border-neutral-default;
  }
  .button-tertiary-active {
    @apply text-white px-4 py-2 mb-2 mr-2 h-fit rounded-md bg-orange-default border-4 border-orange-default transition-all ease-linear
    shadow-button-orange-active
    translate-x-2
    translate-y-2
    hover:shadow-button-orange-active
    hover:translate-x-2
    hover:translate-y-2;
  }
  .input-default {
    @apply outline-none w-full h-fit bg-white p-2 rounded-md border-2 border-neutral-default
    hover:shadow-input
    hover:border-neutral-dark
    focus:outline-0
    focus:shadow-input
    focus:border-neutral-dark
    focus-visible:outline-0
    focus-visible:shadow-input
    focus-visible:border-neutral-dark
    disabled:bg-neutral-light
    disabled:cursor-not-allowed;
  }
  .input-checkbox {
    @apply relative leading-8 px-4 py-1 bg-white rounded outline outline-2 outline-neutral-default 
    hover:outline-[3px]
    hover:outline-neutral-dark
    after:absolute
    after:border-transparent
    after:border-r-4
    after:border-b-4
    after:rotate-45
    after:w-2
    after:h-4
    after:top-1
    after:left-3
    peer-checked:bg-link-default
    peer-checked:after:border-white;
  }
  .link-default {
    @apply text-link-default cursor-pointer
    hover:text-link-hover
    hover:underline
    visited:text-link-visited;
  }
  .link-footer {
    @apply text-white cursor-pointer
    hover:text-embl-grey-lightest
    hover:underline
    visited:text-embl-grey-lightest;
  }
  .link-ontology {
    @apply text-white cursor-pointer bg-link-default
    hover:bg-white
    hover:text-link-default
    hover:outline
    hover:outline-2
    hover:outline-link-default;
  }
  .link-entity {
    @apply text-white cursor-pointer bg-orange-default
    hover:bg-white
    hover:text-orange-default
    hover:outline
    hover:outline-2
    hover:outline-orange-default;
  }
}

@layer utilities {
  .spinner-default {
    min-width: 1rem;
    min-height: 1rem;
    display: inline-block;
    border-width: 0.25rem;
    border-color: rgba(0, 0, 0, 0.05);
    border-top-color: theme("colors.green.default");
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
  }
}
